{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Admin Panel</h2>
    <a href="{{ url_for('add_turf') }}" class="button">Add Turf</a>
    <h3>Bookings</h3>
    <table>
        <tr>
            <th>User ID</th>
            <th>Turf ID</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking[1] }}</td>
            <td>{{ booking[2] }}</td>
            <td>{{ booking[3] }}</td>
            <td>{{ booking[4] }}</td>
        </tr>
        {% endfor %}
    </table>
    <h3>Turfs</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
        </tr>
        {% for turf in turfs %}
        <tr>
            <td>{{ turf[0] }}</td>
            <td>{{ turf[1] }}</td>
            <td>{{ turf[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
