{% extends 'base.html' %}

{% block content %}
<main class="login-container">
    <h1>Book a Slot</h1>
    <form action="{{ url_for('booking') }}" method="POST">
        <label for="username">Full Name:</label>
        <input title="Enter your full name here" type="text" id="username" name="username" required>

        <label for="Phone">Phone:</label>
        <input title="Enter your active number where you can be reached" type="tel" id="Phone" name="Phone" required>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required>
        {% for slot in available_slots %}
        <option value="{{ slot.time }}">{{ slot.time }}</option>
    {% endfor %}
<!-- <input type="time" name="" id=""> -->

        <button type="submit">Book Slot</button>
    </form>
</main>
{% endblock %}
